.imageStyle {
    width: 100%;
    justify-content: center;
    margin-left: -5px;
}

.sidenav {
    margin-left: 3px;
   }

   .navButton {
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;
  margin-left: 5px;
  margin-top: 10px;
}

.navButton.selected {
  background-color: #C6F7E2; 
  border: 1px solid #C6F7E2;
}

   .icon-sidebar{
     margin-right: 7px;
     vertical-align: middle
   }
   .icon-sidebarr{
    margin-right: 7px;
    vertical-align: middle;
    width: 23px;
    height: 23px          ;
  }
   @media screen and (max-width: 700px) {
     .sidenav {
       width: 100%;
       height: auto;
       position: relative;
     }
     .sidenav a {float: left;}
     div.content {margin-left: 0;}
   }
   
   @media screen and (max-width: 400px) {
     .sidenav a {
       text-align: center;
       float: none;
     }
   }
   @media screen and (max-width: 700px) {
     .sidenav {
       width: 100%;
       height: auto;
       position: relative;
     }
     .sidenav a {
       text-align: center;
       float: none;
     }
     div.content {margin-left: 0;}
   }
   @media screen and (max-width: 1100px) {
     .sidenav {
       width: 100%;
       height: auto;
       position: relative;
     }
     .sidenav a {
       text-align: center;
       float: none;
     }
     div.content {margin-left: 0;}
   }
   .logo{
     font-weight: bold;
   }
   .dashboardiv{
     background-color: #03BC94 ;
     color: #000000 ;
   }
   
   
 
   
 
 