
<div class="sidenav">
    <ul  class="navbar-nav">
      <li class="nav-item">
        <button class="navButton" mat-button matTooltip="Show/Hide Contracts"
         [class.selected]="selectedButton == 1" (click)="selectButton(1)">
          <img class="icon-sidebar" src="../../../assets/menu.svg" />
        </button>
      </li>
      <br>
      <li class="nav-item">
        <button class="navButton" [class.selected]="selectedButton == 2"
         (click)="selectButton(2)">
          <img class="icon-sidebar" style="height: 22px;width: 22px;" src="../../../assets/reviewicon.png" />
        </button>
      </li>
      <br>
      <li class="nav-item" mat-button matTooltip="Control Panel">
        <button class="navButton" [class.selected]="selectedButton == 3" (click)="selectButton(3)">
          <img class="icon-sidebar" style="height: 22px;width: 22px;" src="../../../assets/ic_settings_black.png" />
        </button>
      </li>
      <br>
      <li class="nav-item" mat-button matTooltip="Sign Out">
        <button class="navButton"
         [class.selected]="selectedButton == 4" (click)="selectButton(4)">
          <img class="icon-sidebar" style="height: 22px;width: 22px;" src="../../../assets/ic_exit_black.png" />
        </button>
      </li>
      
    </ul>
</div> 




