<div class="container maindiv">
    <div class="row maindivRow">
        <img class="imageStyle" src="../../../assets/Logo.png" alt="">
        <h6 class="titleheader">Sign in</h6>
        <form [formGroup]="loginForm" class="formGroupiv" (ngSubmit)="login()">
            <div class="form-group">
                <label class="required-field">SSO ID</label>
                <input class="form-control formGroupInput" type="text" formControlName="username" placeholder="Enter SSO ID">
                <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="text-danger">
                      Please enter a valid SSO ID</div>
            </div>
            <div class="form-group">
                <label class="required-field">Password</label>
                <input class="form-control formGroupInput" type="password" placeholder="Enter Password" formControlName="password">
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                    class="text-danger">Please enter a valid Password</div>
            </div>
            <br>
            <div class="input-field">
                <button type="submit" class="loginbttn">Login</button>
            </div>
        </form>
    </div>
</div>
