 
  
.maindiv {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.maindivRow {
    margin-top: 5%;
    height: 60vh;
    justify-content: center;
}
  

.formGroupiv {
    margin-left: 100px;
    margin-bottom: 100%;
    width: 60%;
    justify-content: center;
}

.formGroupInput {
    border-color: lightgray;
    border-radius: 3px;
}

input::placeholder {
    color: lightgray; /* Change the color */
    font-size: 12px; /* Change the font size */
 }

.imageStyle {
    display: flex;
    height: 12%;
    width: 30%;
    justify-content: center;
    margin-left: 25%;
}

.titleheader {
    text-align: center;
    margin-top: 8%;
    margin-left: 25%;
    font-size: 12px; /* Change the font size */

}
label
{
    font-size: 10px;
    color: black;
    font-weight: 600;
}

.required-field::after {
    content: " *";
    color: red;
}

.form-group input {
    font-size: 14px;
}

.formcheckinline {
    justify-content: space-between;
}

.text-danger {
    font-size: 13px;
}
.loginbttn {
    border-radius: 5px;
    justify-content: center;
    line-height: 38px;
    width: 100%;
    background-color: #147D64;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-color: transparent;
}

