.parentdiv{
    height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    background-color: #b1bbe6;

}
.main{
padding: 0px; 
margin-left: -23px;
}
.subdiv{
justify-content: center;
border-radius: 10px;
}